*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.loader{
    width: 100%;
    height: 100vh;
    opacity: hidden;
    background-color: white;
    position: absolute;
    z-index: 999;
}
.loader div{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 45%;
    left: 47%;    
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animat 1s infinite linear;
}
.project{
    display: none;
}

.header{
    background-image: url(../img/fon.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
a img{
    width: 100px;
    height: 70px;
}
.navbar{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}
.navbar-collapse{
    width: 0%;
    flex-basis: none;
    flex-grow: none;
    justify-content: space-between;
}
.container-fluid{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.navbar-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.navbar-nav a p{
    color: white;
    margin-bottom: 0rem;
}
.menu-icons{
    margin-right: 5px;
    width: 40%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #dadce0;
    border-radius: 25px;
    background-color: #e4e6eb;
}
.menu-circle{
    width: 45px;
    height: 45px;
    border-radius: 45%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-icons a i{
    font-size: 25px;
    padding: 10px 5px;
    transition: 0.5s;
}
.menu-icons a:hover i{
    transform: scale(1.2);
} 
.link{
    width: 300px;
    height: 140px;
    transition: 300ms;
    margin-top: 100px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: rgb(255, 208, 0);
    text-decoration: none;
    margin-left: 70px;
}
.link a img{
    /* margin-top: 20px; */
    width: 300px;
}
.link p{
    font-size: 20px;
}
.link1{
    background-color: blue;
}
.link2{
    background-color: rgb(27, 238, 27);    
}
.link a p{
    text-decoration: none;
}
.link.active{
    clip-path: polygon(0 0, 85% 0, 100% 49%, 86% 100%, 0% 100%);
    width: 300px;
    height: 150px;
}
.korsatuv-block .img{
    position: relative;
}
.korsatuv-play{
    position: absolute;
    top: 0;
}
.link img{
    width: 200px;
    height: 150px;
    border-radius: 15px;
}
.main-menu{
    display: flex;
    width: 92%;
    justify-content: space-between;
}
.header-monitor{
    position: relative;
    height: 90vh;
}
.header-monitor img{
    width: 650px;
    height: 600px;
}
.iframe{
    position: absolute;
    top: 23px;
    left: 23px;
    right: 0;
    display: none;
    z-index: 999;
}
.iframe.hidden{
    display: block;
}
.iframe iframe{
    width: 603px;
    height: 335px;
    border-radius: 5px;
}
.bg-image{
    width: 603px;
    height: 335px;
    position: absolute;
    top: 23px;
    left: 23px;
    right: 0;
    background-color: grey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-image img{
    width: 300px;
    height: 200px;
}
.main-btn{
    display: flex;
    flex-direction: column;
    height: 400px;
}
.btn-text{
    width: 480px;
    height: 70px;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: bold;
}
.btn-text h2{
    color: black;
    margin-left: 25px;
}
.footer-color{
    width: 100%;
    height: 40px;
    background-color: black;
}
.navbar-toggler{
    background-color: white;
    border: 1px solid white;
}
.navbar-toggler-icon{
    color: white;
    background-color: white;
    border: 1px solid white;
}